@charset "UTF-8";
/* CSS Document */ 
*{ margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
}
li {
    list-style: none;
}
.body{
    font-family: Montserrat;
}
.header {
    height: 100vh;
    width: 100%;
    background-image: url(1-01.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
nav{
    padding: 60px;

}

.header-logo{
    font-weight: bold;
    font-size: 50px;
    float: left;
    color: white;
    font-family: montserrat;
    font: montserrat;
    background-color:grey;
    width: 100px;
    height: 55x;
    transition: width 2s;

}
.header-logo:hover{
    width: 100%;
    background: radial-gradient(circle at top left,grey,white); 
}
.header-list ul li {
    float: right;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: white;
    font-family: montserrat;
    font: montserrat;
    width: 100px;
    height: 25px;   
}
.header-list :hover{
    background-color:gray;
}

.header-content{
    text-align: center;
    color: white;
    margin-top: 120px;
    
}
.title h1 span{
    color:#f79b1e;
}
.title{
    font-size: 20px;
}
.bto{
    color: white;
    border-radius: 25px;
    margin-top: 40px;
    
    
}
.port{
    
    color: white;
    border: 1px solid white;
    display: inline-block;
    text-decoration: none;
    width: 252px;
    height: 29px;
    letter-spacing: 3px;
    padding-top: 11px;
    padding-left: 3px;

}
.port:hover{
    background: radial-gradient(circle at top left, #dd6b21, #4681e0);  
}

.lesson-wrapper{
    height: 500px;
    width:100%;
    text-align: center;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-size: cover;
    background-image:url(2.jpg);
}

.heading{
    padding-top:60px;
    padding-bottom:30px;
    color:white;
}
    
.heading h2{
    font-weight:bold;    
}
    
.lesson{
    float:left;
    width:20%;
    
}
    
.lesson-icon{
    position:relative;
    
}
    
.lesson-icon img{
    width: 150px;
    height: 150px;
    
}
    
.lesson-icon p{
    top:80px; 
    width:100%;
    color:white;
    margin-bottom: 5px;
    
}
    
.txt-contents{
    width:80%;
    display: inline-block;
    margin-top:auto;
    font-size:15px;
    color:white;
    
}

footer {
    background: linear-gradient(to right, #3283b2 0%, #f7941e 100%);
    color: #fff;
    padding: 30px;
    height: 70px;
}

.footer-list img {
    width: 50px;
    height: 50px;
    float: left;
}

.footer-list li {
    float: left;
    margin-right: 12%;
    padding-top: 14px;
}

a {
    color: white;
    text-decoration: none;
}